<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="reg">
      <mat-card-title class="reg__title">Регистрация</mat-card-title>
      <mat-card-content>
        <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="reg__field">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="regForm.controls.email.hasError('email') && !regForm.controls.email.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="regForm.controls.email.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="reg__field">
            <mat-label>Пароль</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="regForm.controls.password.hasError('password') && !regForm.controls.password.hasError('required')">
              Please enter a valid password
            </mat-error>
            <mat-error *ngIf="regForm.controls.password.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="reg__field">
            <mat-label>Повторите пароль</mat-label>
            <input matInput type="password" formControlName="passwordRepeat">
            <mat-error *ngIf="regForm.controls.passwordRepeat.hasError('password') && !regForm.controls.passwordRepeat.hasError('required')">
              Please enter a valid password
            </mat-error>
            <mat-error *ngIf="regForm.hasError('passwordRepeat')">
              Пароли не совпадают
            </mat-error>
            <mat-error *ngIf="regForm.controls.passwordRepeat.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <button
            class="reg__button"
            mat-raised-button
            color="primary"
            [disabled]="regForm.invalid || regForm.disabled"
          >Зарегистрироваться</button>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
